pandas
numpy
scipy
scikit-learn
torch
torchvision
tensorflow
tensorflow-gpu
matplotlib
seaborn
jupyter
pyyaml
nltk
spacy
transformers
#sentence-transformers
#editdistance
networkx
joeynmt
pytorch_lightning
deepspeed
